@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font> {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .home{
    color:orange;}

    .about{
        color: skyblue;
    }
    .facalities{
        color: skyblue;
    }

  .logo{
    display: flex;
  }
.nav-links{
    display: flex;
    gap: 30px;
}

  .nav-item{
    list-style: none;

  }
  .nav-link{
    text-decoration: none;
    font-weight: 500;
    display: flex;
  }
  .navbar{
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
  }
  .btn{
    background-color: #ff900E;
    color: white;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
  }
  .btn-primary{
    background-color: black;
    color: white;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 10px;
    border: none;

  }
  .banner{
    display: flex;
    max-width: 90%;
    margin: 0 auto;
    justify-content: space-between;
  }
  .banner-content{
    margin-top: 100px;
  }
  .empower{
    color: orange;
  }
  .towards{
    color:skyblue;
  }
  .description{
    color: gray;
  }
                     /* second part */

.color{
    background-image:url("../assets/bg.png") ;
}
.section-title{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.facts-container{
    display: flex;
    max-width: 90%;
    margin:0 auto;
    gap: 20px;
    
}
.fact-card-1{
    /* border: 1px solid aqua; */
    height:350px;
    width:30%;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    background: linear-gradient(#00ffff,white);
}
.fact-card-2{
    /* border: 1px solid aqua; */
    height:350px;
    width:30%;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    background: linear-gradient(#ff02ff,white);
}
.fact-card-3{
    height:350px;
    width:30%;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    background: linear-gradient(#ff900E, white);
}
.button-1{
    color:#00ffff;
}
.button-2{
    color: #ff02ff;
}
.button-3{
    color: #ff900E;
}
                         /* 3rd part */

    .color-2{
        background-image:url("../assets/bg.png") ;
        background: linear-gradient(white,rgb(236, 193, 112));

    }
    .our-title{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
       }                  
       .images-card{
        max-width: 90%;
        margin: 0 auto;
        display: flex;
        gap: 20px;
       }
       .images-card-right{
        display: grid;
        grid-template-columns: repeat(2,1fr);
       grid-template-rows: repeat(2,1fr);
       gap: 20px;
       }

        .img-item{
        box-shadow: 0px 0px 10px 1px rgb(117, 110, 110);
        /* box-shadow: 0px 0px 10px 2px black; */
        border-radius: 8px;
       } 
       .images-card-left{
        box-shadow: 0px 0px 10px 1px rgb(117, 110, 110);
        border-radius: 8px;
       }
       .our-btn{
        background-color: black;
        color: white;
        padding: 10px 15px;
        font-size: 1rem;
        border-radius: 10px;
        border: none;
        text-align: center;
        margin-left:620px;
        margin-top: 50px;
        margin-bottom: 50px;
       }
                          /* footer part */
     .foot{
        background-color: skyblue;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-content: space-between;
     }     
     .kid{
        display: flex;
     }
     .foot-item{
        list-style: none;
    
      }
      .foot-link{
        text-decoration: none;
        font-weight: 500;
        display: flex;
        color:white;
      }           
      .foot-title{
        color: white;
        font-style: bold;
      }
      .top{
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 30px;
      }